<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>logLevel</key>
	<integer>3</integer>
	<key>firebaseAccessToken</key>
	<string>UwfXzUHqRzNDkQK18L4vaTvX54uz4kqIATJW0oZG</string>
	<key>endpoint</key>
	<string>https://shining-fire-122.firebaseio.com</string>
	<key>testUID</key>
	<string>60864a8a-5ba3-441e-a07c-d32a464587c7</string>
	<key>testTripID</key>
	<string>-KC0WV89vLvReaW_QzIN</string>
</dict>
</plist>
