<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fakeEmail</key>
	<string>bakawolf@hoho.haha</string>
	<key>fakeName</key>
	<string>Idont Knowmyname</string>
	<key>fakePassword</key>
	<string>test</string>
	<key>fakeUsername</key>
	<string>test</string>
	<key>firebaseURL</key>
	<string>https://shining-fire-122.firebaseio.com</string>
</dict>
</plist>
